div {

  .students {
    float: left;
    width: 25%;
  }

  .student-event {
    float: right;
    width: 75%;
  }
}

.func-btn {
  button {
    margin-left: 5px;
    border: 3px #e2e6ea solid;
  }
}
