<div class="container m-3">
  <div class="display-4 text-center m-1">Изменить события</div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="spec">Специальность</label>
    </div>
    <select class="custom-select" id="spec" [(ngModel)]="studentId" required>
      <option *ngFor="let stud of dataStudentsService.dataStudents" [value]="stud.id">{{stud.name}}-{{stud.spec}}-{{stud.group}}-{{stud.syear}}</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="comp">Компания</label>
    </div>
    <select class="custom-select" id="comp" [(ngModel)]="companyId" required>
      <option *ngFor="let comp of dataStudentsService.dataCompanies" [value]="comp.id">{{comp.name}}</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="event">Событие</span>
    </div>
    <input type="text" class="form-control" placeholder="Событие"
           aria-describedby="event" [(ngModel)]="eventText" required>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="date">Дата</span>
    </div>
    <input type="date" class="form-control" aria-describedby="date" [(ngModel)]="date" required>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary btn-block" (click)="clickUpdEvent()">Изменить</button>
    </div>
    <div class="col">
      <button class="btn btn-danger btn-block" (click)="clickCancel()">Отмена</button>
    </div>
  </div>
</div>
